body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.chat-container {
    max-width: 1100px;
}

.notice-item:hover {
    background-color: #f8f9fa;
}

@media (min-width:576px) {
    .chat-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}