body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.chat-container {
    max-width: 1100px;   /* 1000~1200 사이 취향 */
}

.notice-item:hover {
    background-color: #f8f9fa;
}