.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.content-box, .option-box {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 16px;
    background: #fafafa;
}