<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/user/global.css}" />
    <link rel="stylesheet" th:href="@{/css/user/footer.css}" />
</head>

<body>
<nav th:fragment="footer" class="custom-navbar">
    <footer class="simple-corp-footer">
        <div class="container footer-inner">

            <!-- 로고 -->
            <div class="footer-logo">
                ALLDAY PROJECT
            </div>

            <!-- 주소 / 연락처 -->
            <div class="footer-info">
                서울특별시 중구 크리스탈로 66&nbsp;&nbsp;|&nbsp;&nbsp;02.3301.1910
            </div>

            <!-- copyright -->
            <div class="footer-copy">
                Copyright ⓒ 2026 Sunny. All rights Reserved.
            </div>

        </div>
    </footer>
</nav>

</body>